html,
body {
  background-color: #ededed;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

.title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.3em;
  margin-bottom: 1.2em;
  height: 1em;
}
p {
  font-family: "FiraCodeRegular";
  font-weight: normal;
  font-style: normal;
  margin-bottom: 0;
}

.main-wrapper {
  box-sizing: border-box;
  overflow: hidden;
  max-width: 37%;
  margin-left: 31.5%;
}

.main {
  width: 100%;
  padding-bottom: 56.25%;
  background-size: cover;
  display: inline;
}

.side {
  font-size: 13px;
}

.back-button {
  position: absolute;
  width: 1.5em;
  top: 2em;
  left: 2em;
  cursor: pointer;
}

.share-container {
  position: absolute;
  width: 100%;
  bottom: 2em;
}
.share {
  display: table;
  margin: 0 auto;
  background-color: #ededed;
}
.share > a > img {
  height: 2em;
  margin: 0.5em;
}

.lang-container {
  position: absolute;
  bottom: 2em;
  right: 2em;
}
.lang {
  display: table;
  margin: 0 auto;
}
.lang > a {
  font-family: "FiraCodeRegular";
  font-weight: normal;
  font-style: normal;
  margin-bottom: 0;
  margin: 0.5em;
}
