html,
body {
  background-color: #ededed;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: black;
}

.title {
  font-size: 1em;
  height: 60px;
  line-height: 60px;
  text-align: center;
}
.title > span {
  display: inline-block;
  vertical-align: middle;
}
p {
  font-family: "FiraCodeRegular";
  font-weight: normal;
  font-style: normal;
  margin-bottom: 0;
}

.main-wrapper {
  box-sizing: border-box;
  overflow: auto;
  max-width: 60%;
  margin-left: 20%;
}

.main {
  width: 100%;
  padding-bottom: 56.25%;
  background-image: url("./base.png");
  background-size: cover;
}

.preview-tile {
  background-image: url("./base.png");
  opacity: 0;
  transform: scale(1);
  transition: box-shadow 1s cubic-bezier(0, 0.8, 0.2, 1),
    transform 1s cubic-bezier(0, 0.8, 0.2, 1),
    opacity 1s cubic-bezier(0, 0.8, 0.2, 1);
}
.preview-tile:hover {
  cursor: pointer;
  transform: scale(1.5);
  opacity: 1;
}

.shadow {
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.6);
}

.no-shadow {
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0);
}

.opaque {
  cursor: pointer;
  opacity: 1;
}

.tippy-box[data-theme~="custom"] {
  background-color: #ededed;
  color: black;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  border: 0;
  border-radius: 0;
  max-width: 400px;
  padding: 17px;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.3);
}
.tippy-content {
  padding: 0;
}

#footer {
  display: flex;
  justify-content: space-between;
}

.side {
  font-size: 13px;
}

.lang-container {
  position: absolute;
  bottom: 2em;
  right: 2em;
}
.lang {
  display: table;
  margin: 0 auto;
}
.lang > a {
  font-family: "FiraCodeRegular";
  font-weight: normal;
  font-style: normal;
  margin-bottom: 0;
  margin: 0.5em;
}
